.home-text {
    background-color: dodgerblue !important;
}

.texter {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: white !important;
}

.text-page {
    color: chartreuse;
    font-size: 35px;
    /* font-family: bold; */
}

.pager {
    color: darkblue;
    font-size: 35px;
    /* font-family: bold; */
}
.kec {
    color: brown;
    font-size: 35px;
    /* font-family: bold; */
}

.list-sekolah {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.list-sekolah li {
    padding: 1rem;
    display: inline-block;
}

.list-sekolah img {
    width: 150px;
}

.p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

.a {
    background-color: aliceblue;
}
.mt {
    margin-top: 50px;
}
.on {
    color: blue;
}
.aa {
    background-color: gray;
}
.cri {
    width: 50px;
    height: 50px;
}
.sectionbaru {
    background-color: #f9fcff;
}
/* .section-tengah {
    background-color: #0000;
} */
.carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }
.news {
    background-color: rgb(176, 214, 245);
}